@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inp {
    @apply p-1 cursor-pointer text-sm rounded-md bg-slate-800 hover:bg-slate-700 text-slate-400 border border-slate-700 hover:border-slate-600 font-sans text-center;
  }
}

@layer components {
  .marg {
    @apply ml-4 mt-4;
  }
}
/* #container {
    padding:3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#content{
    max-width: 70em;

    flex-direction: column;
}

#auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4em;
}

#server-info{
    display: flex;
    flex-direction: row;
}

#cmd {
    overflow: scroll;
    max-height: 70em;
    min-height: 20em;
    margin-bottom: 4em;
}

.server-info{
    margin-left: .5em;
}

.info-vert-block{
    margin-top: .5em;
} */

* > ::first-line {
  margin-top: 0 !important;
  margin-left: 0 !important;
}
* > :last-line {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}
